body{
    display: block;
}

.sobre p{
    padding: 1em 1em;
    font-size: 26px;
}

.info_gatos{
    margin-left: 2.3em;
    font-size: 22px;
}

.tipografia{
    text-align: center;
}

.tipografia h1{
    padding : 10px 0px 0px 5px;
}

.tipografia img{
   max-width: 90%;
   width: auto;
   height: auto;
}