body, ul{
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    background-color: rgba(0,0,0,.05)
}

#logo img {
    height: 50px;
}

#header {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 70px;
    box-sizing: border-box;
    justify-content: space-between;
    border-bottom: 1px solid;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn_mobile{
    display: none;
}


#nav.active #menu{
    display: block;
}


@media (max-width: 600px){
   #btn_mobile{
       display: block;
   }

   #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        height: 0px;
        z-index: 1000;
        background: #e7e7e7;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu{
        /* display: block; */
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 0px, 1rem;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0 , 0 , .05);
    }

    #btn_mobile {
        display: flex;
        padding: .5rem, .5rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    #menu_mobile{
        border-top: 2px solid;
        width: 20px;
    
    }

    #menu_mobile::after,  #menu_mobile::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #menu_mobile{
        border-top-color: transparent;
    }

    #nav.active #menu_mobile::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    #nav.active #menu_mobile::before{
        transform: rotate(135deg);
    }
    
    main h1{
        font-size: 30px;
        margin: 5px 134px 0px;
    }

    main {
        display: block;
    }

    main img{
        max-width: 203px;
    }

    .pet{
        padding: 16px 87px;
        display: flex;
        flex-direction: column;
        
    }

    .btn_saibaMais{
        position: absolute;
        margin-top: 15rem;
        margin-left: 6px;
        border-radius: 15px;
        background-color: #FFFCFC;
        opacity: 0.7;
        padding: 1px 8px;
        font-family: sans-serif;
        border: none;
    }

    .footer {
        padding-bottom: 10px;
        border-top: 1px solid;
        background-color: #e7e7e7;
       
    }

    .footer p{
        margin: 26px 30px 0px 30px;
    }

    .footer .info{
        display: flex;
        justify-content: flex-end;
        margin: 0 20px;
        gap: 20px;
    }

    .footer .info div li{
        list-style: none;
    }

    .footer .info img{
        height: 50px;
    }
    
}








